@import "tailwindcss";

:root {
  --light-hover: #fcf4ff;
  --dark-hover: #2a004a;
  --dark-theme: #11001f;
  --box-shadow-black: 4px 4px 0 #000;
  --box-shadow-white: 4px 4px 0 #fff;
}

@layer utilities {
  .hover\:bg-lightHover:hover {
    background-color: var(--light-hover);
  }
  .hover\:bg-darkHover:hover {
    background-color: var(--dark-hover);
  }
  .bg-darkTheme {
    background-color: var(--dark-theme);
  }
}
